<ul>
    <li>
        <a href="@Url.Action("Index", "Home")" target="_parent"><i class="fa fa-fw fa-home fa-1x" title="Página Inicial"></i> Inicial</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Products")" target="_parent"><i class="fa fa-fw fa-user-circle fa-1x" title="Produtos"></i>Produtos</a>
    </li>
    <li>
        <a href="@Url.Action("Privacy", "Home")" target="_blank"><i class="fa fa-fw fa-handshake-o fa-1x" title="Página de Privacidade"></i> Privacidade</a>
    </li>
    <li>
        <a href="@Url.Action("", "Home")" target="_blank"><i class="fa fa-fw fa-shopping-cart fa-1x" title="Página do Carrinho"></i> Carrinho</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Settings")" target="_parent"><i class="fa fa-fw fa-user-circle fa-1x" title="Página das Informações do Usuário"></i>Informações do Usuário</a>
    </li>
</ul>
